@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /*tamanho minimo de altura*/
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Letras maisculas, mas as primeiras tem maior destaque*/
    /*text-transform: uppercase; letra maiuscula*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline ;
}

section {
    padding-top: 10vh; /*10% da altura da tela*/
    padding-bottom: 10vh; /*10% da altura da tela*/
    line-height: 2em; /*espaçamento da linha dentro das sections*/
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}